body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
}

header h1 {
    background-color: aqua;
}

#movie-info {
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
}

aside {
    background-color: white;
    border-radius: 5px;
}

#genres {
    list-style-type: none;
    display: flex;
}

.add {
    display: flex;
}
